<!-- Life Changing Labs | made by Lillian Chen | March, 2014 -->

<hr class="lc-footer-line uk-width-1-1 uk-float-left">
<div class="lc-footer uk-width-1-1 uk-float-left uk-text-center">
	<span class="lc-text-medium lc-text-smallcaps lc-text-bold lc-text-mute">Say hi</span>
	<br><br>
	<a href="mailto:contactlifechanginglabs@gmail.com"><i class="uk-icon-envelope-alt uk-icon-small"></i></a>
	<a href="https://www.facebook.com/lifechanginglabs" target="_blank"><i class="uk-icon-facebook-sign uk-icon-small"></i></a>
	<a href="https://twitter.com/lifechanginglab" target="_blank"><i class="uk-icon-twitter-sign uk-icon-small"></i></a>
	<br>325 College Avenue<br>Ithaca, NY 14850<br>
</div>