<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" type="image/png" href="{{ site.url }}/lcl/assets/img/favicon.png">
    <title>Life Changing Labs | {{ page.title }}</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/lcl/assets/js/uikit.js"></script>
    <script type="text/javascript" src="{{ site.url }}/lcl/assets/js/sticky.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/lcl/assets/js/imagesloaded.pkgd.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.url }}/lcl/assets/css/normalize.css">
    <link rel="stylesheet" href="{{ site.url }}/lcl/assets/css/uikit.css">
    <link rel="stylesheet" href="{{ site.url }}/lcl/assets/css/main.css">
    <style type="text/css">
      .uk-offcanvas-bar #{{ page.id }} {color: #eeeeee}
      .uk-modal-dialog #{{ page.id }} {color: #89a826}
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-37790456-1', 'lifechanginglabs.com');
      ga('send', 'pageview');

      $(window).bind("load", function() {
        $(".loader").delay(750).fadeOut();
      });
    </script>
  </head>