<div id="non-mobile-head">
  <a href="#offcanvas" data-uk-offcanvas>  
    <div class="lc-menu-btn uk-text-center uk-vertical-align .uk-width-small-1-4">
      <i class="uk-icon-reorder uk-vertical-align-middle .uk-width-small-1-4"></i>
    </div>
  </a>
  <div id="offcanvas" class="uk-offcanvas uk-hidden-small">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-flip uk-text-right">
      <a id="home" class="lc-link" href="{{ site.url }}/lcl/index.html">Home</a><br>
      <a id="about" class="lc-link" href="{{ site.url }}/lcl/about">About</a><br>
      <a id="companies" class="lc-link" href="{{ site.url }}/lcl/companies">Companies</a><br>
      <a id="network" class="lc-link" href="{{ site.url }}/lcl/network">Network</a><br>
      <a id="blog" class="lc-link" href="{{ site.url }}/lcl/blog">Blog</a><br><br>
      <a id="bootcamp" class="lc-link" href="{{ site.url }}/lcl/bootcamp">Bootcamp</a><br><br>
      <a class="lc-link lc-link-attention" href="{{ site.url }}/lcl/opportunities">Join us</a><br>
      <!-- <a id="invest" class="lc-link" href="{{ site.url }}/lcl/invest">Invest</a> -->
      <div class="lc-contact">
        <a href="mailto:contactlifechanginglabs@gmail.com"><i class="uk-icon-envelope-alt"></i></a>
        <a href="https://www.facebook.com/lifechanginglabs" target="_blank"><i class="uk-icon-facebook-sign"></i></a>
        <a href="https://twitter.com/lifechanginglab" target="_blank"><i class="uk-icon-twitter-sign"></i></a><br>
        <a href="https://www.google.com/maps/dir//325+College+Ave,+Ithaca,+NY+14850" target="_blank">
          325 College Avenue<br>
          Ithaca, New York 14853
        </a><br>
        <br><br>
        <div class="lc-text-small">Life Changing Labs<br>&#169; 2014 All rights reserved.<br>powered by people, passion, &#38; persistence</div>
      </div>
    </div>
  </div>
</div>

<div id="mobile-head">
  <a href="#modalnav" data-uk-modal>
    <div class="lc-menu-btn uk-text-center uk-vertical-align .uk-width-small-1-4">
      <i id="home-icon" class="uk-icon-reorder uk-vertical-align-middle uk-width-small-1-4"></i>
    </div>
  </a>
  <div id="modalnav" class="uk-modal">
    <div class="uk-modal-dialog">
      <a id="home" class="uk-button uk-width-1-1 uk-margin-small-bottom" href="{{ site.url }}/lcl/index.html">home</a><br>
      <a id="about" class="uk-button uk-width-1-1 uk-margin-small-bottom" href="{{ site.url }}/lcl/about">about</a><br>
      <a id="companies" class="uk-button uk-width-1-1 uk-margin-small-bottom" href="{{ site.url }}/lcl/companies">companies</a><br>
      <a id="network" class="uk-button uk-width-1-1 uk-margin-small-bottom" href="{{ site.url }}/lcl/network">network</a><br>
      <a id="blog" class="uk-button uk-width-1-1 uk-margin-small-bottom" href="{{ site.url }}/lcl/blog">blog</a><br><br>
      <a id="bootcamp" class="uk-button uk-width-1-1 uk-margin-small-bottom" href="{{ site.url }}/lcl/bootcamp">bootcamp</a><br><br>
      <a class="uk-button uk-button-success uk-width-1-1 uk-margin-small-bottom" href="{{ site.url }}/lcl/opportunities">join us</a><br>
      <a id="invest" class="uk-button uk-width-1-1 uk-margin-small-bottom" href="{{ site.url }}/lcl/invest">invest</a>
    </div>
  </div>
</div>

<div class="lc-border lc-border-left"></div>
<div class="lc-border lc-border-right"></div>
<div class="lc-border lc-border-top"></div>
<div class="lc-border lc-border-bottom"></div>
<div class="uk-width-4-5 uk-container-center">
  <a href="{{ site.url }}/lcl/index.html">
    <div class="lc-banner-logo uk-text-center uk-vertical-align">
      <img class="uk-vertical-align-middle" src="{{ site.url }}/lcl/assets/img/logos/logo-text-white-250.png" width="180px">
    </div>
  </a>
</div>