---
title: Companies
layout: default
id: companies
---

<script type = "text/javascript">
  function gridView() {
  	$('#grid-view').addClass("active");
  	$('#list-view').removeClass("active");
  	$('.lc-row').removeClass("uk-hidden");
  	$('.lc-list').addClass("uk-hidden");
  }
  function listView() {
  	$('#grid-view').removeClass("active");
  	$('#list-view').addClass("active");
  	$('.lc-row').addClass("uk-hidden");
  	$('.lc-list').removeClass("uk-hidden");
  }
</script>

<div class="lc-section uk-width-4-5 uk-container-center uk-text-center lc-no-overflow">
	<div class="lc-title">Companies.</div>
	<br><br>
	<div class="uk-width-4-5 uk-container-center uk-text-left">
		LCL provides tailored support for each of its portfolio company. Different startups have different needs – we have a track record of adding meaningful value to our companies in various ways.
	</div>
	<div class="lc-filter uk-width-9-10 uk-container-center uk-text-left">
		<span class="lc-text-medium lc-text-smallcaps lc-text-mute">View as: </span>
		<a id="grid-view" class="active" onclick="gridView(this)"><i class="uk-icon-th"></i></a>
		<a id="list-view" onclick="listView(this)"><i class="uk-icon-th-list"></i></a>
	</div>
	<div class="lc-row uk-width-1-1 uk-container-center">
		{% for company in site.data.companies %}
		<div class="uk-width-large-1-4 uk-width-medium-1-2 uk-width-1-2 uk-float-left">
			{% for site in company.website %}
				{% if site == 'none' %}
					<img class="uk-width-2-3" src="{{ site.url }}/assets/img/{{ company.img }}">
					{% else %}
					<a href="http://{{ site }}" target="_blank" alt="{{ company.company }}"><img class="uk-width-2-3" src="{{ site.url }}/assets/img/{{ company.img }}"></a>
					{% break %}
				{% endif %}
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	{% for company in site.data.companies %}
	<div class="lc-list uk-width-1-1 uk-container-center lc-no-overflow uk-hidden">
		<div class="lc-list-img uk-width-large-1-4 uk-width-medium-1-2 uk-width-1-2 uk-float-left uk-text-center"><img class="uk-width-2-3" src="{{ site.url }}/assets/img/{{ company.img }}"></div>
		<div class="lc-list-detail uk-width-large-3-4 uk-float-left uk-text-left">
			<div class="uk-width-9-10 uk-container-center">
				<span class="lc-category">Company: </span>{{ company.company }}<br>
				<span class="lc-category">Team: </span>{{ company.team }}<br>
				<span class="lc-category">Website: </span>{% for site in company.website %}
				{% if site == 'none' %}
				Coming soon
				{% else %}
				{% if forloop.index > 1 %}, {% endif %}
				<a href="http://{{ site }}" target="_blank">{{ site }}</a>
				{% endif %}
				{% endfor %}
				<br><br>
				{{ company.description }}
			</div>
		</div>
	</div>
	{% endfor %}
	{% include footer.html %}
</div>